[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
channels = "*"
channels-redis = "*"
django-cors-headers = "*"
install = "*"
drf-flex-fields = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
